@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    background: #1b1b1b;
    font-family: 'VT323', monospace;
    color: #00FF00;
}

:root {
    --font-size: 20px;
}

::selection {
    background-color: yellow;
    color: black;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.bash-command {
    font-size: var(--font-size);
}

.saida p {
    font-size: var(--font-size);
}

.cursor {
    font-size: 16px;
    color: #00FF00;
    position: relative;
    animation: blinker 1s linear infinite;
}
  
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@media screen and (max-width: 750px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100vh;
        overflow-y: hidden;
    }
}
  