<%- include('../partials/head.ejs') %>

<section class="saida" id="bash-exit">

</section>
  
  
<div>
    <div class="bash-command">
     <span id="bash"></span><b class="cursor">█</b>
    </div>
</div>

<script src="/scripts/key.listener.js"></script>
<script src="/scripts/game.history.js"></script>