<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@<%=username%> ~</title>
    <link rel="icon" href="/assets/flask_big_blue.png" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/styles.css" />
  </head>
  <body>
    <section class="terminal"></section>
    <br>
    <div class="bash-command" style="flex-direction: column;"></div>

    <script src="/scripts/events.controller.js"></script>

    <script>
      (
        async () => {
          await typing_(
            "Book's Journey",
            true
          );

          await typing_(
            `Ready for unforgettable adventures, <span><%= username %></span>? Choose your path to <span class="orange">begin:</span>`
          );

          await typing_(
            `<span class="orange">Warning: </span>Soon we will add the possibility of creating your own stories.`
          );

          typingOptions_(
            "History's List /",
            () => {
              window.location.href = "/pages/dashboard/historys"
            }
          );

          /*
          typingOptions_(
            "History's Editor /",
            () => {
              window.location.href = "/pages/dashboard/editor"
            }
          );

          typingOptions_(
            "Docs History Editor /",
            () => {
              window.location.href = "/pages/dashboard/editor/docs"
            }
          );*/

          typingOptions_(
            "Exit /",
            () => {
              window.location.href = "/auths/google/logout"
            }
          );

        }
      )();
  </script>

  </body>
</html>
